SECRET_KEY=change-me-to-a-real-secret-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://ghss_user:ghss_pass@db:5432/ghss_db
POSTGRES_DB=ghss_db
POSTGRES_USER=ghss_user
POSTGRES_PASSWORD=ghss_pass
PAYSTACK_SECRET_KEY=sk_test_placeholder
PAYSTACK_PUBLIC_KEY=pk_test_placeholder
USE_S3=False
